<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juanvvc.comicviewer"
    android:versionCode="7"
    android:versionName="1.5.0" >

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--         android:debuggable="true" -->
    <supports-screens android:smallScreens="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application

        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:allowBackup="true" >
        <!--  The viewer activity -->
        <activity
            android:name=".ComicViewerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <!--  Register as a viewer of these files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
			    <data android:mimeType="*/*" />
			    <data android:pathPattern=".*\\.cbz" />
			    <data android:pathPattern=".*\\.CBZ" />
			    <data android:pathPattern=".*\\.cbr" />
			    <data android:pathPattern=".*\\.CBR" />
			    <data android:pathPattern=".*\\.pdf" />
			    <data android:pathPattern=".*\\.PDF" />
			    <data android:host="*" />      
            </intent-filter>
        </activity>
        <activity
            android:name=".DirExplorer"
            android:label="@string/change_directory" >
        </activity>
        <activity
            android:name=".BookmarksExplorer"
            android:label="@string/bookmark" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings" >
        </activity>
        <!--  The main activity -->
        <activity
            android:name=".GalleryExplorerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- AdMob -->
        <activity android:name="com.google.ads.AdActivity"
           android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>